
body {
	font-family: Georgia, serif;
	margin-left: 15%;
	margin-right: 15%;
	box-shadow: 0px 10px 16px rgba(0,0,0,0.10);
	
	
}

.corps{
	background-color:#F5F5F5;
}

img {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
	max-width: 100%;
}

h1 {
	font-style: inherit;
}

h1,h2{
	text-align: center;
	font-family: Open Sans , sans-serif;
	color: #8DC63F;
}

.navigation ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8DC63F;

}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a:hover:not(.active) {
  background-color: gray;
}

.active {
  background-color: #056839;
}

.soustitre{
	width: 100%;
	text-align:   center;
}


@media screen and (min-width:   768px) { 
.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

}

@media screen and (min-width:   992px) { 
.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  
}



}



@media screen and (min-width: 1200px) { 
	.footer {
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-gap: 10px;
	  grid-auto-rows: minmax(100px, auto);
	  text-align: center;
	}

	.contact {
	  grid-column: 1;
	  grid-row: 1;
	}

	.soustitre_contact {
	  grid-column: 1;
	  grid-row: 2;

	}
	.info_contact{
		grid-column: 1;
		grid-row: 3;
		
	}

	.suiveznous{
		grid-column: 2 ;
	  grid-row: 1 ;
	}

	.soustitre_suiveznous{
	grid-column: 2 ;
	  grid-row: 2 ;	
	}

	.facebook { 
	  grid-column: 2 ;
	  grid-row: 3 ;

	}

	.linkedin { 
	  grid-column: 2 ;
	  grid-row: 3 ;
	}
}


